h2{
    color:whitesmoke;
}
 .attribs{
     text-decoration: underline;
 }

 body {
    color: white;
    background-color: black;
    font-family: Georgia,Arial, Tahoma;
}

 .album {
     color: white;
    background-color: black;
    background-image: linear-gradient(to right, rgba(8, 8, 8, 0.823), rgba(255, 123, 0, 0.728));
    font-family: Georgia,Arial, Tahoma;
 }

 .navbar{
    padding: 1%;
    font-family: fantasy,"Times New Roman", Tahoma;
    list-style: none;

<!--
fantasy supported by edge
unsupported by firefox
-->
}

ul li a {
    text-decoration: none;
    font-size: larger;
    padding: 4px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 2px solid rgba(255, 123, 0);
    border-bottom: 2px solid rgba(255, 123, 0);
    border-radius: 20%;
    color:white;
    background-image: linear-gradient(to right, rgba(255, 123, 0, 0.728));
}

.navbar a {
    text-decoration: none;
    font-size: larger;
    padding: 4px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 2px solid rgba(255, 123, 0);
    border-bottom: 2px solid rgba(255, 123, 0);
    border-radius: 20%;
    color:white;
    background-image: linear-gradient(to right, rgba(255, 123, 0, 0.728));

}

nav a:hover {
    background-color: rgba(255, 123, 0);
    text-decoration: none;
    color: white;
}

.link_cat{
    text-decoration: none;
    color: rgba(255, 123, 0, 0.728);
    font-size: larger;
    padding: 4px;
}

.link_cat:hover{
    text-decoration: none;
    color: black;
    background-color: rgba(255, 123, 0, 0.728);
    border-radius:5px;

}
