{% extends "layout.html" %}
{% block content %}
    <br><br><br><br>
    <div class="container">

        <div class="row ">
            <div class="col-md-6">
                <h2> Ajouter un produit </h2>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('ajout_produit') }}">
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.nom_produit.label }} {{ form.nom_produit(class_="form-control",size=50) }}<br>
                        </div>
                        <div class="form-group">
                            {{ form.description.label }} {{ form.description(class_="form-control",size=150) }} <br>
                        </div>
                        <div class="form-group">
                            {{ form.prix.label }} {{ form.prix(class_="form-control") }} <br>
                        </div>
                        <div class="form-group">
                            {{ form.photo.label }} {{ form.photo(class_="form-control") }} <br>
                        </div>
                        <div class="form-group">
                            {{ form.id_categorie.label }} {{ form.id_categorie(class_="form-control") }} <br>
                        </div>
                        <div class="form-group">
                            {{ form.submit() }}
                        </div>
                        <br><br>
                    </form>
                </div>
            </div>

            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img class="center-block image-center" src="{{ url_for('static', filename='images/quote01.jpg') }}" alt="produit" width="500">
            </div>
        </div>

    </div>

{% endblock %}
```

